<%if logged_in?%>
  <h3>Your Activities:</h3>
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
      <th>Complete</th>
      <th>Resume</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%current_user.activities.each do |activity|%>
      <tr>
        <td><%=activity.name%></td>
        <td><%=Time.at(activity.start_time).strftime("%-m/%d/%Y at %l:%M %p")%></td>
        <td><%if !activity.is_ongoing?%><%=Time.at(activity.end_time).strftime("%-m/%d/%Y at %l:%M %p")%><%end%></td>
        <td>
          <%if activity.is_ongoing?%>
            <%duration = Time.now - activity.start_time%>
          <%else%>
            <%duration = activity.end_time - activity.start_time%>
          <%end%>
          <%=Time.at(duration).utc.strftime("%H:%M:%S")%>
        </td>
        <td><%if activity.is_ongoing?%><a href="/activities/<%=activity.id%>/end">Complete</a><%end%></td>
        <td><%if !activity.is_ongoing?%><a href="/activities/<%=activity.id%>/resume">Resume</a><%end%></td>
        <td><a href="/activities/<%=activity.id%>/edit">Edit</a></td>
        <td>
          <form action="/activities/<%=activity.id%>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="DELETE"/>
          </form>
        </td>
      </tr>
    <%end%>
  </table>
  <center><a href="/activities/new">Start a new activity.</a></center>
<%else%>
  <p id="splash">Welcome to Activity Tracker. Please <a href="/signup">signup</a> or <a href="/login">login</a> to use this site.</p>
<%end%>
